.DS_Store
.idea/
.vscode/

node_modules/
.pnpm-store/
.turbo/
dist/
coverage/

*.log
.env
.env.*
!.env.example

apps/server/logs/
apps/server/storage/uploads/
apps/server/configs/config.yaml
apps/server/gbnt.service
prototypes/static-demo/.logs/
